@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #1D1D1D; */
  /* background: url("./Images/2124.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("./Images/2124.png"); */
    background-color: #fff;
    color: black;
}
